/* 
Theme Name: Vitor Theme
Theme URL: 
Description: Twenty nineteen extension theme
Theme Author: Vitor Sinedino
Author URL: 
Template: twentynineteen
Version: 1.0.0 
Text Domain: twentytwenty-child 
*/

#colophon{
    display: none;
}

#masthead{
    display: none;
}

h1:not(.site-title):before, h2:before {
    background: none;
}
#eael-filter-gallery-wrapper-1b5cadd > div.eael-filter-gallery-container.eael-filter-gallery-grid > div:nth-child(2) > div > div.gallery-item-caption-wrap.caption-style-card > div > div > p > a > button:hover{
    background-color: #61CE70!important;
}